.navbarContainer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbarWrapper {
  float: left;
}

.LinkToWrapper {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.usernameWrapper {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #51dfe0;
}

.LinkToWrapper:hover {
  background-color: #111;
}

.LinkToWrapperLogout{
  position: absolute;
  right: 0;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}