body {
  background-color: #2a303c;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.notesInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
}

.titleForm {
  color: #a6adbb;
}

.fieldInput {
  margin-bottom: 10px;
  width: 250px;
  height: 30px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.fieldInput:focus {
  outline: none !important;
  border: 1px solid #202020;
}

.fieldInput::placeholder {
  font-weight: bold;
}

textarea {
  padding: 12px 20px;
  font-family: Arial, serif;
  font-size: 16px;
}

.styledButton {
  background: #1eb854;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin: 10px 0 15px;
  width: 150px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.styledButton:hover {
  background: #1fd65f;
  transition-duration: 0.2s;
}

.styledButton:disabled {
  outline: none !important;
  border: 1px solid #333333;
  background-color: #6b7e80;
  cursor: wait;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}

.noteInput {
  margin: 30px 0 10px;
  outline: none;
  padding: 10px;
  border: none;
  width: 250px;
  height: 100px;
  border-radius: 5px;
  background-color: #efeae6;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.noteInput::placeholder {
  font-weight: bold;
}

.noteInputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
}

.togglePassword {
  color: #a6adbb;
  position: absolute;
  cursor: pointer;
  margin: 10px;
}

.errorSpan {
  color: red;
  text-align: center;
  font-size: 16px;
}

.haveAccountP {
  font-size: 16px;
  margin-top: 2%;
  text-decoration: none;
  color: #1fb2a5;
}

.haveAccountP:hover {
  color: aquamarine;
  transition-duration: 0.2s;
}

.loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 4px solid;
  border-color: #e4e4ed;
  border-right-color: #3a3a3a;
  animation: s2 1s infinite linear;
  margin: auto;
}

@keyframes s2 {
  to {
    transform: rotate(1turn);
  }
}
