.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__window {
  display: flex;
  flex-direction: column;
  text-align: end;
  position: relative;
  background-color: #efeae6;
  border-radius: 5px;
  width: 250px;
  height: auto;
  padding: 30px;
}

.modal__close {
  cursor: pointer;
  width: 30px;
  height: 30px;
  color: red;
}

.modal_text {
  word-break: break-all;
  white-space: pre-line;
  text-align: justify;
  overflow: auto;
}
