.navbarContainer {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #191d24;
}

.navbarWrapper {
  float: left;
  display: flex;
  align-items: baseline;
}

.navIcon {
  color: #a6adbb;
  vertical-align: center;
  margin-right: 5px;
}

.LinkToWrapper {
  display: block;
  color: #a6adbb;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;
  transition-duration: 0.2s;
}

.usernameWrapper {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  color: #d926aa;
}

.LinkToWrapper:hover {
  font-weight: bold;
  background-color: #2a303c;
  color: white;
}

.LinkToWrapperLogout {
  position: absolute;
  right: 0;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
}
