.notes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 30px 0 30px;
}

/* width */
.notes::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.notes::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.notes::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.notes::-webkit-scrollbar-thumb:hover {
  background: #555;
}
